@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;

  nav {
    display: flex;
    gap: 1rem;

    a {
      font-weight: 700;
    }
  }
}

#section1 {
  width: 100%;
  background-color: #f1bb13;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 100%;
    display: flex;
    align-items: center;
    img {
      width: 50%;
    }

    .right {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      p {
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 700;
        color: rgb(17, 17, 17);
      }

      h1 {
        font-size: 2.5rem;
        font-weight: 700;
        color: black;

        a {
          color: #34365a;
        }
      }

      button {
        background-color: #34365a;
        color: white;
        border-radius: 1rem;
        padding: 1rem;
        border: 0;
        width: 200px;
      }
    }
  }
}
#section2 {
  width: 100%;
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    width: 90%;
    /* height: 80%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    .upper {
      width: 100%;
      height: 5%;
      background-color: white;
      font-weight: 700;
      text-align: center;
      align-items: top;
      justify-content: center;
    }

    .lower {
      width: 80%;
      /* height: 100%; */
      display: flex;
      justify-content: center;
      align-items: center;
      .left {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        /* background-color: aqua; */
        .sonL {
          width: 100%;
          height: 300px;
          /* background-color: rgb(0, 114, 25); */
          background-size: cover;
          padding: 20px;
          button {
            background-color: #ffffff;
            color: rgb(0, 0, 0);
            border-radius: 1rem;
            padding: 1rem;
            border: 0;
            width: 200px;
          }
        }
      }
      .right {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        /* background-color: orange; */
        .sonR {
          width: 100%;
          height: 300px;
          /* background-color: rgb(1, 104, 118); */
          background-size: cover;
          padding: 20px;
          button {
            background-color: #34365a;
            color: white;
            border-radius: 1rem;
            padding: 1rem;
            border: 0;
            width: 200px;
          }
        }
      }
    }
  }
}
#section3 {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: #34365a;

  .parent {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    .top {
      width: 50%;
      height: 20vh;
      text-align: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      margin-top: 4rem;
      .btns {
        button {
          background-color: #ffffff;
          color: rgb(0, 0, 0);
          border-radius: 1rem;
          padding: 1rem;
          border: 0;
          width: 200px;
        }
      }
    }
    .bottom {
      width: 100%;
      height: 60vh;
      /* background-color: #34365a; */
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 10rem;
      margin-bottom: 1rem;
      img {
        align-items: bottom;
        position: absolute;
        width: 45%;
        left: 15%;
      }
      .text {
        width: 25%;
        /* padding: 2rem; */
        background-color: white;
        position: absolute;
        right: 27%;
        top: 300px;
        padding: 2rem;
        button {
          background-color: #34365a;
          border-color: white;
          color: white;
          width: 200px;
          border-radius: 1rem;
          padding: 1rem;
          border: 2;
          margin-top: 1rem;
        }
      }
    }
  }
}
#section4 {
  width: 100%;
  margin-top: 38rem;
  display: flex;
  align-items: center;
  justify-content: center;
  .parent {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10rem;
    gap: 2rem;
    justify-content: space-between;
    .son {
      width: 150px;
      height: 150px;
      background-color: #f1bb13;
      border-radius: 50%;
      position: relative;
      text-align: center;
      top: -150px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      img {
        width: 100px;
        left: -30px;
        bottom: -50px;
        margin-top: 1rem;
        position: absolute;
      }
      .text {
        position: absolute;
        top: 220px;
        text-align: justify;
      }
    }
  }
}
#section5 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .parent {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    .sonL {
      width: 49%;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      .upper {
        width: 80%;
        height: 200px;
        text-align: left;
        background-color: #f1bb13;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        gap: 2rem;
      }
      .lower {
        button {
          background-color: #34365a;
          color: rgb(255, 255, 255);
          border-radius: 1rem;
          padding: 1rem;
          border: 0;
          width: 200px;
        }
      }
    }
    .sonR {
      width: 49%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      .upper {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-size: cover;
      }
      .lower {
        width: 100%;
        display: flex;

        .sonL {
          width: 30%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          .img {
            width: 30px;
            height: 30px;
            background-color: #34365a;
            border-radius: 50%;
          }
        }
        .sonR {
          width: 70%;
          display: flex;
          flex-direction: column;
          border-radius: 50%;
        }
      }
    }
  }
}
#section6 {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1bb13;
  padding-top: 150px;
  padding-bottom: 150px;
  .parent {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 8rem;
    position: relative;
    .left {
      width: 70%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 2rem;
      button {
        width: 200px;
        font-size: 1rem;
        letter-spacing: 1px;
        background-color: #34365a;
        text-transform: uppercase;
        font-weight: 600;
        border-radius: 50px;
        padding: 15px 41px 15px 40px;
        color: #ffffff;
      }
    }
    .right {
      width: 70%;
      height: 80vh;
      display: flex;
      justify-content: center;
      align-items: right;
      position: absolute;
      img {
        width: 100%;
        right: -25rem;
        bottom: 0px;
        position: absolute;
      }
    }
  }
}
#section7 {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 10rem;

  .parent {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .left {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .upper {
        width: 100%;
        height: 50vh;
        background-image: url(dftg.jpg);
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.385);
        .text {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgba(0, 0, 0, 0.385);
          color: white;
          line-height: 2;
          font-size: 28px;
          background-size: cover;
        }
      }
      .lower {
        width: 100%;
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        .left {
          width: 40%;
          height: 100%;
          background-image: url("./asd.jpg");
          background-size: cover;
          background-position: center;
        }
        .right {
          width: 60%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          background-color: #f1bb13;
          color: #000000;
          position: relative;
          h1 {
            width: 80%;
            font-size: 36px;
            text-align: center;
            top: 1rem;
            position: absolute;
          }
          p {
            width: 80%;
            text-align: left;
            line-height: 2;
            position: absolute;
            top: 4rem;
          }
          img {
            position: absolute;
            bottom: 2px;
          }
        }
      }
    }
    .right {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .upper {
        width: 100%;
        height: 45vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #34365a;
        color: #ffffff;
        .text {
          width: 80%;
          display: flex;
          align-items: left;
          flex-direction: column;
          padding: 0.3rem;
          h2 {
            font-size: 26px;
            font-weight: 700;
          }
          p {
            padding: 0.2rem;
            line-height: 2;
          }
          button {
            width: 200px;
            font-size: 1rem;
            letter-spacing: 1px;
            background-color: #34365a;
            text-transform: uppercase;
            font-weight: 600;
            border-radius: 50px;
            padding: 15px 41px 15px 40px;
            color: #ffffff;
          }
          a {
            color: #ffffff;
          }
        }
      }
      .lower {
        width: 100%;
        height: 35vh;
        background-image: url("./esg.jpg");
        background-size: cover;
      }
    }
  }
}
#section8 {
  width: 100%;
  height: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #34365a;
  position: relative;
  .section1 {
    width: 100%;
    height: 50rem;
    background-image: url("./manager-woman-leading-4-min.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    .text {
      width: 40%;
      height: 23rem;
      background-color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: -17rem;
    }
  }
}
