@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;

  nav {
    display: flex;
    gap: 1rem;

    a {
      font-weight: 700;
    }
  }
}

#section1 {
  width: 100%;
  background-color: #f1bb13;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 100%;
    display: flex;
    align-items: center;
    img {
      width: 50%;
    }

    .right {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      p {
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 700;
        color: rgb(17, 17, 17);
      }

      h1 {
        font-size: 2.5rem;
        font-weight: 700;
        color: black;

        a {
          color: #34365a;
        }
      }

      button {
        background-color: #34365a;
        color: white;
        border-radius: 1rem;
        padding: 1rem;
        border: 0;
        width: 200px;
      }
    }
  }
}
#section2 {
  width: 100%;
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    width: 90%;
    /* height: 80%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    .upper {
      width: 100%;
      height: 5%;
      background-color: white;
      font-weight: 700;
      text-align: center;
      align-items: top;
      justify-content: center;
    }

    .lower {
      width: 80%;
      /* height: 100%; */
      display: flex;
      justify-content: center;
      align-items: center;
      .left {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        /* background-color: aqua; */
        .sonL {
          width: 100%;
          height: 300px;
          /* background-color: rgb(0, 114, 25); */
          background-size: cover;
          padding: 20px;
          button {
            background-color: #ffffff;
            color: rgb(0, 0, 0);
            border-radius: 1rem;
            padding: 1rem;
            border: 0;
            width: 200px;
          }
        }
      }
      .right {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        /* background-color: orange; */
        .sonR {
          width: 100%;
          height: 300px;
          /* background-color: rgb(1, 104, 118); */
          background-size: cover;
          padding: 20px;
          button {
            background-color: #34365a;
            color: white;
            border-radius: 1rem;
            padding: 1rem;
            border: 0;
            width: 200px;
          }
        }
      }
    }
  }
}
#section3 {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: #34365a;

  .parent {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    .top {
      width: 50%;
      height: 20vh;
      text-align: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      margin-top: 4rem;
      .btns {
        button {
          background-color: #ffffff;
          color: rgb(0, 0, 0);
          border-radius: 1rem;
          padding: 1rem;
          border: 0;
          width: 200px;
        }
      }
    }
    .bottom {
      width: 100%;
      height: 60vh;
      /* background-color: #34365a; */
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 10rem;
      margin-bottom: 1rem;
      img {
        align-items: bottom;
        position: absolute;
        width: 45%;
        left: 15%;
      }
      .text {
        width: 25%;
        /* padding: 2rem; */
        background-color: white;
        position: absolute;
        right: 27%;
        margin-top: 40rem;
        padding: 2rem;
        button {
          background-color: #34365a;
          border-color: white;
          color: white;
          width: 200px;
          border-radius: 1rem;
          padding: 1rem;
          border: 2;
          margin-top: 1rem;
        }
      }
    }
  }
}
#section4 {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 38rem;
  .parent {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

    .son {
      width: 20%;
      height: 30vh;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      background-color: #f1bb13;
      border-radius: 50%;
      flex-direction: column;
      position: relative;
      img {
        position: absolute;
        margin-top: 4rem;
        right: 150px;
      }
    }
  }
}
